{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
    &rsaquo; {% trans 'Import' %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <h1>{{ title }}</h1>
    
    {% if opts.model_name == 'itemcategory' %}
    <div class="module">
        <p>Download a <a href="{% static 'admin/orders/sample_itemcategory_template.csv' %}">sample CSV template</a> to see the expected format.</p>
        <p>Required columns: <code>category_name</code>, <code>category_description</code></p>
    </div>
    {% endif %}
    
    <form enctype="multipart/form-data" method="post" id="import-form">
        {% csrf_token %}
        <fieldset class="module aligned">
            {% for field in form %}
                <div class="form-row">
                    <div class="form-row{% if field.errors %} errors{% endif %}">
                        <div>
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="{% trans 'Import Data' %}" class="default" />
        </div>
    </form>
</div>
{% endblock %}
